@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --background: linear-gradient(#C8DCE5, #B6CCDA);
  --foreground: #FFFFFF;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Poppins', sans-serif;
  padding: 2.87rem 3.75rem;
  /* display: grid;
  grid-template-columns: repeat(5, minnmax(0, auto)); */
  ;
}

#link {
  padding: 8px 32px;
  transition: all 0.2s ease-in-out;
}

#link:hover,
#link:active {
  background: white;
  color: #b5ccd9;
  border-radius: 100px;
  font-weight: 600;

}


body[data-theme="t-black"] {
  --bg-body: linear-gradient(#C8DCE5, #B6CCDA);
}

body[data-theme="t-blue"] {
  --bg-body: #F2F2D5;
}

body[data-theme="t-salmon"] {
  --bg-body: #F2F2D5;
}

section {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto auto;
  padding-top: 5rem;
}